In [1]:
#Import Python Libraries
import pandas as pd
import numpy as np

In [2]:
#Read csv file
df=pd.read_csv(r"C:\Users\Mou\Desktop\finity\flights.csv")

In [3]:
#List first 5 records
df.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [4]:
df.head(10)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
7,1,1,4,F9,SFO,PHX,1020,-7.0,91.0,651,1315,-6.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0

In [5]:
df.head(50)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
7,1,1,4,F9,SFO,PHX,1020,-7.0,91.0,651,1315,-6.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0
10,1,1,4,MQ,DFW,DRO,1335,28.0,104.0,674,1438,28.0,0,0
11,1,1,4,EV,ORD,JAN,1155,6.0,113.0,677,1403,5.0,0,0
12,1,1,4,OO,ORD,MSP,1510,2.0,65.0,334,1646,4.0,0,0
13,1,1,4,EV,ORD,CMH,1010,-2.0,46.0,296,1228,-9.0,0,0
14,1,1,4,UA,IAH,IND,1426,-1.0,102.0,844,1742,-20.0,0,0
15,1,1,4,AA,DEN,DFW,1445,-6.0,93.0,641,1745,4.0,0,0
16,1,1,4,OO,DEN,SGU,1105,21.0,66.0,517,1249,20.0,0,0
17,1,1,4,NK,DEN,DTW,1952,37.0,124.0,1123,31,54.0,0,0
18,1,1,4,MQ,ORD,DAY,2220,19.0,37.0,240,23,20.0,0,0
19,1,1,4,WN,PHX,LAX,1640,51.0,58.0,370,1700,59.0,0,0
20,1,1,4,WN,ATL,BWI,1115,1.0,76.0,577,1305,-15.0,0,0
21,1,1,4,UA,ORD,CLE,2102,48.0,47.0,315,2320,41.0,0,0
22,1,1,4,OO,LAS,LAX,1544,-4.0,39.0,236,1655,-12.0,0,0
23,1,1,4,WN,ATL,HOU,1555,30.0,113.0,696,1720,18.0,0,0
24,1,1,4,MQ,DFW,BTR,730,NaN,NaN,383,853,NaN,0,1
25,1,1,4,OO,ORD,SPI,2110,-4.0,31.0,174,2205,5.0,0,0
26,1,1,4,AA,LAX,AUS,1430,33.0,157.0,1242,1925,41.0,0,0
27,1,1,4,OO,IAH,JAC,1104,-1.0,161.0,1265,1316,-1.0,0,0
28,1,1,4,WN,ATL,MDW,935,1.0,97.0,591,1035,-4.0,0,0
29,1,1,4,EV,ORD,IND,1025,-6.0,29.0,177,1228,-19.0,0,0
30,1,1,4,WN,LAS,RNO,1000,-2.0,55.0,345,1120,-13.0,0,0
31,1,1,4,US,PHX,DEN,1810,29.0,94.0,602,1954,49.0,0,0
32,1,1,4,AA,PHX,MIA,1559,115.0,230.0,1972,2203,117.0,0,0
33,1,1,4,AA,IAH,MIA,1935,26.0,115.0,964,2256,21.0,0,0
34,1,1,4,OO,LAX,LAS,1240,-3.0,42.0,236,1354,-6.0,0,0
35,1,1,4,US,ORD,PHL,1600,-2.0,80.0,678,1857,-9.0,0,0
36,1,1,4,AA,DFW,OKC,1345,5.0,35.0,175,1440,6.0,0,0
37,1,1,4,AA,LAS,DFW,1210,12.0,132.0,1055,1650,17.0,0,0
38,1,1,4,AS,PHX,SEA,1505,-2.0,155.0,1107,1702,-3.0,0,0
39,1,1,4,OO,SFO,ABQ,1050,12.0,122.0,896,1411,30.0,0,0
40,1,1,4,EV,IAH,CLE,1038,-3.0,126.0,1091,1425,-18.0,0,0
41,1,1,4,AA,DFW,DCA,2010,19.0,126.0,1192,2350,4.0,0,0
42,1,1,4,OO,LAX,RNO,1215,-5.0,66.0,391,1340,-2.0,0,0
43,1,1,4,WN,LAS,SJC,945,-2.0,58.0,386,1110,-14.0,0,0
44,1,1,4,UA,ORD,PIT,1312,3.0,56.0,413,1543,-7.0,0,0
45,1,1,4,UA,ORD,TPA,929,0.0,131.0,1012,1312,-10.0,0,0
46,1,1,4,AA,ORD,SAN,1235,-6.0,237.0,1723,1455,-16.0,0,0
47,1,1,4,AA,DFW,IND,1625,40.0,89.0,761,1925,27.0,0,0
48,1,1,4,AA,DFW,SAT,1725,0.0,54.0,247,1830,9.0,0,0
49,1,1,4,US,IAH,PHX,1445,-1.0,147.0,1009,1638,-7.0,0,0

In [6]:
df.dtypes

MONTH          int64
DAY            int64
WEEKDAY        int64
AIRLINE       object
ORG_AIR       object
DEST_AIR      object
SCHED_DEP      int64
DEP_DELAY    float64
AIR_TIME     float64
DIST           int64
SCHED_ARR      int64
ARR_DELAY    float64
DIVERTED       int64
CANCELLED      int64
dtype: object

In [8]:
df.columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [9]:
df.ndim

2

In [10]:
df.axes

[RangeIndex(start=0, stop=58492, step=1),
 Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
        'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
        'DIVERTED', 'CANCELLED'],
       dtype='object')]

In [11]:
df.values

array([[1, 1, 4, ..., 65.0, 0, 0],
       [1, 1, 4, ..., -13.0, 0, 0],
       [1, 1, 4, ..., 35.0, 0, 0],
       ...,
       [12, 31, 4, ..., -5.0, 0, 0],
       [12, 31, 4, ..., 34.0, 0, 0],
       [12, 31, 4, ..., -1.0, 0, 0]], dtype=object)

In [13]:
df.shape

(58492, 14)

In [14]:
df.shape[0]

58492

In [15]:
df.dtypes

MONTH          int64
DAY            int64
WEEKDAY        int64
AIRLINE       object
ORG_AIR       object
DEST_AIR      object
SCHED_DEP      int64
DEP_DELAY    float64
AIR_TIME     float64
DIST           int64
SCHED_ARR      int64
ARR_DELAY    float64
DIVERTED       int64
CANCELLED      int64
dtype: object

In [16]:
df.tail(10)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
58482,12,31,4,OO,DEN,CPR,1850,-2.0,38.0,230,1956,1.0,0,0
58483,12,31,4,B6,PHX,BOS,2236,-12.0,231.0,2300,515,-45.0,0,0
58484,12,31,4,MQ,ORD,DSM,1333,1.0,57.0,299,1455,-7.0,0,0
58485,12,31,4,DL,ATL,CMH,2206,2.0,64.0,447,2338,-8.0,0,0
58486,12,31,4,EV,DFW,LFT,850,21.0,52.0,351,1012,14.0,0,0
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [17]:
df.describe()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
count,58492.000000,58492.000000,58492.000000,58492.000000,57659.000000,57474.000000,58492.000000,58492.000000,57474.000000,58492.000000,58492.000000
mean,6.220646,15.702096,3.926862,1387.984836,10.921192,115.928576,872.900072,1549.399832,5.812315,0.002342,0.015062
std,3.358484,8.760846,1.995777,482.810792,36.146210,71.679591,624.996805,518.599952,38.411948,0.048340,0.121800
min,1.000000,1.000000,1.000000,5.000000,-24.000000,8.000000,67.000000,1.000000,-60.000000,0.000000,0.000000
25%,3.000000,8.000000,2.000000,1000.000000,-4.000000,61.000000,391.000000,1159.000000,-12.000000,0.000000,0.000000
50%,6.000000,16.000000,4.000000,1353.000000,-1.000000,97.000000,690.000000,1603.000000,-4.000000,0.000000,0.000000
75%,9.000000,23.000000,6.000000,1805.000000,10.000000,152.000000,1199.000000,1959.000000,9.000000,0.000000,0.000000
max,12.000000,31.000000,7.000000,2359.000000,1194.000000,577.000000,4502.000000,2359.000000,1185.000000,1.000000,1.000000

In [18]:
df.max()

MONTH          12
DAY            31
WEEKDAY         7
AIRLINE        WN
ORG_AIR       SFO
DEST_AIR      YUM
SCHED_DEP    2359
DEP_DELAY    1194
AIR_TIME      577
DIST         4502
SCHED_ARR    2359
ARR_DELAY    1185
DIVERTED        1
CANCELLED       1
dtype: object

In [19]:
df.min()

MONTH          1
DAY            1
WEEKDAY        1
AIRLINE       AA
ORG_AIR      ATL
DEST_AIR     ABE
SCHED_DEP      5
DEP_DELAY    -24
AIR_TIME       8
DIST          67
SCHED_ARR      1
ARR_DELAY    -60
DIVERTED       0
CANCELLED      0
dtype: object

In [20]:
df.mean()

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [21]:
df.median()

MONTH           6.0
DAY            16.0
WEEKDAY         4.0
SCHED_DEP    1353.0
DEP_DELAY      -1.0
AIR_TIME       97.0
DIST          690.0
SCHED_ARR    1603.0
ARR_DELAY      -4.0
DIVERTED        0.0
CANCELLED       0.0
dtype: float64

In [22]:
df.std()

MONTH          3.358484
DAY            8.760846
WEEKDAY        1.995777
SCHED_DEP    482.810792
DEP_DELAY     36.146210
AIR_TIME      71.679591
DIST         624.996805
SCHED_ARR    518.599952
ARR_DELAY     38.411948
DIVERTED       0.048340
CANCELLED      0.121800
dtype: float64

In [23]:
df.columns

Index(['MONTH', 'DAY', 'WEEKDAY', 'AIRLINE', 'ORG_AIR', 'DEST_AIR',
       'SCHED_DEP', 'DEP_DELAY', 'AIR_TIME', 'DIST', 'SCHED_ARR', 'ARR_DELAY',
       'DIVERTED', 'CANCELLED'],
      dtype='object')

In [24]:
#What are the mean values of the first 50 records in the dataset?
x=df.head(50)
x.mean()

MONTH           1.000000
DAY             1.000000
WEEKDAY         4.000000
SCHED_DEP    1393.980000
DEP_DELAY      14.693878
AIR_TIME      100.510204
DIST          742.640000
SCHED_ARR    1538.480000
ARR_DELAY      11.367347
DIVERTED        0.000000
CANCELLED       0.020000
dtype: float64

In [25]:
#chaining of relevant order
df.head(50).mean()

MONTH           1.000000
DAY             1.000000
WEEKDAY         4.000000
SCHED_DEP    1393.980000
DEP_DELAY      14.693878
AIR_TIME      100.510204
DIST          742.640000
SCHED_ARR    1538.480000
ARR_DELAY      11.367347
DIVERTED        0.000000
CANCELLED       0.020000
dtype: float64

In [29]:
#selecting a column
df.AIRLINE

0        WN
1        UA
2        MQ
3        AA
4        WN
         ..
58487    AA
58488    F9
58489    OO
58490    WN
58491    OO
Name: AIRLINE, Length: 58492, dtype: object

In [30]:
#dataframe 2d
df[['AIRLINE']]

      AIRLINE
0          WN
1          UA
2          MQ
3          AA
4          WN
...       ...
58487      AA
58488      F9
58489      OO
58490      WN
58491      OO

[58492 rows x 1 columns]

In [31]:
#dataframe 1d
df['AIRLINE']

0        WN
1        UA
2        MQ
3        AA
4        WN
         ..
58487    AA
58488    F9
58489    OO
58490    WN
58491    OO
Name: AIRLINE, Length: 58492, dtype: object

In [32]:
df.rank

<bound method NDFrame.rank of        MONTH  DAY  WEEKDAY AIRLINE ORG_AIR DEST_AIR  SCHED_DEP  DEP_DELAY  \
0          1    1        4      WN     LAX      SLC       1625       58.0
1          1    1        4      UA     DEN      IAD        823        7.0
2          1    1        4      MQ     DFW      VPS       1305       36.0
3          1    1        4      AA     DFW      DCA       1555        7.0
4          1    1        4      WN     LAX      MCI       1720       48.0
...      ...  ...      ...     ...     ...      ...        ...        ...
58487     12   31        4      AA     SFO      DFW        515        5.0
58488     12   31        4      F9     LAS      SFO       1910       13.0
58489     12   31        4      OO     SFO      SBA       1846       -6.0
58490     12   31        4      WN     MSP      ATL        525       39.0
58491     12   31        4      OO     SFO      BOI        859        5.0

       AIR_TIME  DIST  SCHED_ARR  ARR_DELAY  DIVERTED  CANCELLED
0          94.0   590       1905       65.0         0          0
1         154.0  1452       1333      -13.0         0          0
2          85.0   641       1453       35.0         0          0
3         126.0  1192       1935       -7.0         0          0
4         166.0  1363       2225       39.0         0          0
...         ...   ...        ...        ...       ...        ...
58487     166.0  1464       1045      -19.0         0          0
58488      71.0   414       2050        4.0         0          0
58489      46.0   262       1956       -5.0         0          0
58490     124.0   907        855       34.0         0          0
58491      73.0   522       1146       -1.0         0          0

[58492 rows x 14 columns]>

In [33]:
#calculate the basic statistics of AIR_TIME column
df.AIR_TIME.describe()

count    57474.000000
mean       115.928576
std         71.679591
min          8.000000
25%         61.000000
50%         97.000000
75%        152.000000
max        577.000000
Name: AIR_TIME, dtype: float64

In [34]:
#no of values
len(df.AIR_TIME)

58492

In [35]:
#calculate average of phd data
df.AIR_TIME.mean()

115.92857639976337

In [37]:
df['AIR_TIME'].std()

71.67959079209163

group data using rank

df_rank=dfgroupby(['rank'])

#calculating mean value for each numeric column per each group df_rank.mean()

In [39]:
df.groupby(['AIRLINE']).mean()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,
AA,6.661461,15.570562,3.986966,1340.140449,11.274057,144.259404,1114.347865,1546.960899,5.542661,0.002921,0.017303
AS,6.197917,15.247396,3.941406,1418.269531,1.808594,147.845052,1065.884115,1548.292969,-0.833333,0.000000,0.000000
B6,6.368324,15.788214,4.040516,1512.924494,14.287823,209.412963,1771.882136,1432.889503,8.692593,0.003683,0.001842
DL,6.277332,15.721158,3.913310,1426.563154,7.242450,115.334187,866.448448,1578.735402,0.339691,0.002264,0.003585
EV,6.003926,15.866166,3.927450,1415.510413,9.092625,68.964016,460.237453,1571.798054,7.034580,0.002561,0.024923
F9,6.401670,15.914958,4.007593,1407.121488,14.310398,127.592337,969.593014,1510.177677,13.630651,0.001519,0.007593
HA,5.508929,15.526786,3.750000,959.419643,2.571429,338.288288,2615.178571,1280.714286,4.972973,0.008929,0.000000
MQ,5.970614,15.598963,3.902622,1432.251801,11.094323,61.318346,404.229041,1587.835494,6.860591,0.001441,0.043791
NK,6.602243,15.680739,4.006596,1336.634565,19.514401,135.736878,1047.428100,1398.226913,18.436070,0.003298,0.016491
OO,6.134791,15.651943,3.923345,1426.486794,9.662279,76.010272,511.239375,1573.730267,7.593463,0.003188,0.021554
UA,6.322510,15.697510,3.871535,1357.970739,16.210485,155.650521,1230.918891,1532.871150,7.765755,0.002438,0.011935
US,3.628483,16.079876,4.063777,1289.552941,4.361355,147.686755,1181.226625,1489.131269,1.681105,0.000619,0.013003
VX,6.336354,15.518630,3.924471,1385.110775,8.918946,154.864097,1240.296073,1581.023162,5.348884,0.001007,0.006042
WN,6.298646,15.746971,3.884652,1370.585650,12.639366,107.005897,809.985626,1532.243407,6.397353,0.001782,0.011048

In [40]:
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [41]:
df.groupby(['ORG_AIR']).mean()

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
ORG_AIR,,,,,,,,,,,
ATL,6.248535,15.798617,3.916259,1466.196485,9.267446,91.169510,636.161337,1570.767022,2.959973,0.002497,0.006626
DEN,6.225713,15.871265,3.950316,1382.382278,11.052586,114.555306,874.241762,1567.566502,6.432769,0.001707,0.010415
DFW,6.082573,15.507232,3.983289,1407.639236,11.593030,107.994073,792.962927,1580.958573,7.035704,0.002247,0.026260
IAH,6.116332,15.608805,3.938869,1375.308394,11.821255,112.485688,828.256843,1586.237454,7.437747,0.002965,0.016880
LAS,6.320229,15.905698,3.942772,1330.743966,10.792156,127.622869,1017.421996,1452.753670,6.171515,0.003483,0.004230
LAX,6.191883,15.617592,3.911700,1356.135677,10.961690,156.875861,1258.186110,1505.639328,6.206956,0.001868,0.011887
MSP,6.304399,15.739296,3.814370,1370.618182,7.206256,113.010651,824.420821,1584.200880,1.534615,0.001760,0.007038
ORD,6.315583,15.676674,3.901477,1380.190612,14.760098,101.926565,717.964022,1565.795092,9.594505,0.002264,0.030855
PHX,6.131871,15.868998,3.977841,1334.818814,8.502841,123.257838,967.145123,1512.861829,4.074984,0.002172,0.006952
SFO,6.269650,15.429123,3.905498,1370.036120,11.028730,148.171781,1191.960700,1513.709905,5.429800,0.002726,0.019991

In [42]:
#calculating mean distance for each profession
df.groupby('AIRLINE')[['DIST']].mean()

                DIST
AIRLINE
AA       1114.347865
AS       1065.884115
B6       1771.882136
DL        866.448448
EV        460.237453
F9        969.593014
HA       2615.178571
MQ        404.229041
NK       1047.428100
OO        511.239375
UA       1230.918891
US       1181.226625
VX       1240.296073
WN        809.985626

In [44]:
df.groupby('AIRLINE')[['DIST', 'WEEKDAY']].mean()

                DIST   WEEKDAY
AIRLINE
AA       1114.347865  3.986966
AS       1065.884115  3.941406
B6       1771.882136  4.040516
DL        866.448448  3.913310
EV        460.237453  3.927450
F9        969.593014  4.007593
HA       2615.178571  3.750000
MQ        404.229041  3.902622
NK       1047.428100  4.006596
OO        511.239375  3.923345
UA       1230.918891  3.871535
US       1181.226625  4.063777
VX       1240.296073  3.924471
WN        809.985626  3.884652

In [45]:
df.iloc[0]

MONTH           1
DAY             1
WEEKDAY         4
AIRLINE        WN
ORG_AIR       LAX
DEST_AIR      SLC
SCHED_DEP    1625
DEP_DELAY      58
AIR_TIME       94
DIST          590
SCHED_ARR    1905
ARR_DELAY      65
DIVERTED        0
CANCELLED       0
Name: 0, dtype: object

In [47]:
df.iloc[1]

MONTH           1
DAY             1
WEEKDAY         4
AIRLINE        UA
ORG_AIR       DEN
DEST_AIR      IAD
SCHED_DEP     823
DEP_DELAY       7
AIR_TIME      154
DIST         1452
SCHED_ARR    1333
ARR_DELAY     -13
DIVERTED        0
CANCELLED       0
Name: 1, dtype: object

In [49]:
df.iloc[-1]

MONTH          12
DAY            31
WEEKDAY         4
AIRLINE        OO
ORG_AIR       SFO
DEST_AIR      BOI
SCHED_DEP     859
DEP_DELAY       5
AIR_TIME       73
DIST          522
SCHED_ARR    1146
ARR_DELAY      -1
DIVERTED        0
CANCELLED       0
Name: 58491, dtype: object

In [50]:
df.iloc[:,0]

0         1
1         1
2         1
3         1
4         1
         ..
58487    12
58488    12
58489    12
58490    12
58491    12
Name: MONTH, Length: 58492, dtype: int64

In [51]:
df.iloc[:,-1]

0        0
1        0
2        0
3        0
4        0
        ..
58487    0
58488    0
58489    0
58490    0
58491    0
Name: CANCELLED, Length: 58492, dtype: int64

In [52]:
df.iloc[0:7]

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0

In [53]:
df.iloc[:,0:2]

       MONTH  DAY
0          1    1
1          1    1
2          1    1
3          1    1
4          1    1
...      ...  ...
58487     12   31
58488     12   31
58489     12   31
58490     12   31
58491     12   31

[58492 rows x 2 columns]

In [54]:
df.iloc[1:3,0:2]

   MONTH  DAY
1      1    1
2      1    1

In [55]:
df.iloc[[0,5],[1,3]]

   DAY AIRLINE
0    1      WN
5    1      UA